body {
    color: #421;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New";
    background: rgb(200, 232, 241);
}

body::after {
    content: "";
    background-image: url("./bot.png");
    background-repeat: repeat-y;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

span {
    color: rgb(36, 17, 119);
}

::-webkit-input-placeholder {
    color: #711
}

#main {
    position: fixed;
    top: 20%;
    right: 200px;
    width: 400px;
    border: 0px solid #421;
    padding: 40px;
}

#main div {
    margin: 10px;
}

#input {
    padding: 5px;
    width: 250px;
    border: 1px solid #421;
}

#output {
    height: 60vh;
    width: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#voiceSelect {
    color: #421;
}

.wrapper {
    display: grid;
    grid-gap: 1px;
    grid-template:
        "mode mode input input"
        "language language input input"
        "voice voice output output"
        "rate rate output output"
        "pitch pitch output output";
}

.mode {
    grid-area: mode;
}

#modeSelect {
    width: 100%
}

.language {
    grid-area: language;
}

.voice {
    grid-area: voice;
}

#voiceSelect {
    width: 100%
}

.rate {
    grid-area: rate;
}

.input {
    grid-area: input;
}

.pitch {
    grid-area: pitch;
}

.output {
    grid-area: output;
}